<!--[if lt IE 9]>
<script src="bower_components/es5-shim/es5-shim.js"></script>
<script src="bower_components/json3/lib/json3.min.js"></script>
<![endif]-->

// build:js scripts/scripts.js
script(src='scripts/app.js')
script(src='scripts/controllers/main.js')
script(src='scripts/controllers/about.js')

script(src='scripts/controllers/auth/login.js')

script(src='scripts/controllers/admin/global_config.js')
script(src='scripts/controllers/admin/rules_engine/rules_engine.js')
script(src='scripts/controllers/admin/rules_engine/attribution_rules.js')
script(src='scripts/controllers/admin/rules_engine/accumulation_rules.js')
script(src='scripts/controllers/admin/rules_engine/balance_rules.js')
script(src='scripts/controllers/admin/rules_engine/manual_attributions.js')
script(src='scripts/controllers/admin/rules_engine/promotion_rules.js')
script(src='scripts/controllers/admin/social_analytics.js')
script(src='scripts/controllers/admin/social_shopping.js')
script(src='scripts/controllers/admin/backups.js')

script(src='scripts/directives/collapsable.js')
script(src='scripts/directives/scroll.js')

script(src='scripts/services/auth.js')
script(src='scripts/services/foxcomm_core.js')
script(src='scripts/services/foxcomm_backups.js')
script(src='scripts/services/foxcomm_social_shopping.js')
script(src='scripts/services/foxcomm_attribution_rules.js')
script(src='scripts/services/foxcomm_accumulation_rules.js')
script(src='scripts/services/foxcomm_balance_rules.js')
script(src='scripts/services/foxcomm_manual_attributions.js')
script(src='scripts/services/foxcomm_promotion_rules.js')
script(src='scripts/services/foxcomm_reports.js')

script(src='scripts/common/logger.js')
script(src='scripts/common/bootstrap/bootstrap_dialog.js')

script(src='scripts/filters/snake_case_to_human.js')
script(src='scripts/filters/camel_case_to_human.js')

script(src="scripts/repositories/repositories.js")
script(src="scripts/repositories/global_config_repository.js")

script(src="scripts/third/slimscroll/jquery.slimscroll.js")
script(src="scripts/third/lanceng.js")
script(src="scripts/third/bootstrap-select.js")
// endbuild
