/* iCheck plugin Minimal skin, grey
----------------------------------- */
.icheckbox_minimal-grey {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    width: 18px;
    height: 18px;
    background: url(../images/grey.png) no-repeat;
    border: none;
    cursor: pointer;
}

.icheckbox_minimal-grey {
    background-position: 0 0;
}

.icheckbox_minimal-grey.hover {
    background-position: -20px 0;
}

.icheckbox_minimal-grey.checked {
    background-position: -40px 0;
}

.icheckbox_minimal-grey.disabled {
    background-position: -60px 0;
    cursor: default;
}

.icheckbox_minimal-grey.checked.disabled {
    background-position: -80px 0;
}
